header{
    width: 100%;
    height: 60px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo{
        width: 20%;
        height: 42px;
        display: flex;
        justify-content: flex-end;
    }

    .left-nav{
        width: 40%;
        height: 30px;

        ul { 
            display: flex;
            justify-content: space-around;

            a{
                text-decoration: none;
                color: black;
                &:hover{
                    color: red;
                    border-bottom: 1px solid black;
                }
            }
        }
    }

    .right-nav{
        width: 12%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .nav-btn{
            width: 122px;
            height: 30px;
            background-color: #E02828;
            border-radius: 5px;
            cursor: pointer;
            &:hover{
                width: 130px;
                height: 40px;
                background-color: #f64f4f;

                a{
                    color: yellow;
                }
            }

            a{
                text-decoration: none;
                color: white;
            }
        }

        .fa-solid{
            width: 20px;
            height: 20px;
            border: 2px solid black;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}